/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, p {
  margin: 0; }

html {
  height: 100%;
  width: 100%;
  background: #fff;
  color: #000;
  font-size: 18px;
  font-family: 'Museo W01 300'; }

html,
body {
  min-height: 100%;
  min-width: 100%;
  height: 100%; }

p {
  margin-bottom: 1em; }

.hidden-fields {
  display: none; }

.wrap {
  padding: 15px;
  width: 100%;
  margin: 0; }

.big-bg {
  opacity: .2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  z-index: -1; }
  .big-bg img {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    float: left; }

header hgroup h1 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background: url(../img/logo.png) no-repeat;
  width: 291px;
  height: 144px;
  background-size: contain;
  margin: 0 auto 20px auto;
  padding: 0; }
  @media screen and (min-width: 768px) {
    header hgroup h1 {
      margin: 0 auto 20px 0; } }

.no-backgroundsize header hgroup h1 {
  background: url(../img/logo-half.png) no-repeat; }

blockquote {
  margin: 0 0 20px 0;
  padding: 0;
  background: #52b5b6;
  padding: 4px;
  line-height: 24px;
  color: #fff;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
  blockquote p {
    margin: 0; }
  blockquote br {
    display: none; }

.close-copy {
  display: none; }

.contact {
  *zoom: 1;
  margin: 2em 0 0 0; }
  .contact:before, .contact:after {
    content: " ";
    display: table; }
  .contact:after {
    clear: both; }
  .contact .column {
    width: 100%;
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 1100px) {
      .contact .column {
        width: 25%;
        float: left;
        padding: 0 20px 0 0; }
        .contact .column:last-child {
          padding: 0; } }
  .contact input, .contact textarea, .contact button {
    -webkit-appearance: none;
    height: 24px;
    line-height: 24px;
    padding: 0 .5em;
    width: 100%;
    margin: 0 0 10px 0;
    background: #b4bab3;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3) inset;
    color: #555;
    font-size: .9em; }
  .contact textarea {
    height: 48px; }
  .contact #submit,
  .contact #saveForm {
    background: #0070b3;
    width: auto;
    padding: .25em 1em;
    color: #fff;
    font-family: 'Museo W01 300';
    font-size: .75em;
    height: 24px; }
  .contact label {
    margin: 0 0 10px 0; }

.show-copy {
  display: none; }

@media screen and (min-width: 480px) {
  html {
    background: #52b5b6; }

  .big-bg {
    opacity: 1; }

  article {
    margin: 100px 0 0 0; }

  .wrap {
    padding: 44px;
    width: auto;
    position: relative;
    height: 100%;
    max-width: 560px; }

  .big-bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 10%; }
    .big-bg img {
      min-height: 100%;
      min-width: 100%; }

  .show-copy {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center; }

  .copy {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    position: absolute; }

  .copy:target {
    top: 20%;
    left: 44px;
    right: 44px;
    font-family: helvetica nueue, helvetica, arial, sans-serif;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: .75em;
    line-height: 1.6em;
    padding: 1.6em;
    -webkit-font-smoothing: antialiased; }
    .copy:target .inner {
      position: relative; }
    .copy:target p {
      margin-bottom: 1em; }
    .copy:target .close-copy {
      display: block;
      color: #68696a;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 5px;
      line-height: 100%;
      font-size: 30px;
      font-weight: lighter; }

  footer {
    padding: 2em 0;
    font-size: 0.75em; } }
    @media screen and (min-width: 480px) and (min-width: 900px) {
      .copy:target .inner {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        column-gap: 2em; } }
@media screen and (min-width: 840px) {
  .wrap {
    max-width: 1000px; }

  blockquote {
    font-size: 30px;
    line-height: 44px;
    background: none;
    padding: 0;
    margin: 0; }
    blockquote br {
      display: block; }
    blockquote span {
      background: #52b5b6;
      padding: 4px; } }
@media screen and (min-height: 650px) and (min-width: 1100px) {
  blockquote {
    position: absolute;
    bottom: 244px;
    padding: 0;
    margin: 0; }

  aside {
    position: absolute;
    bottom: 104px;
    padding: 0;
    margin: 0; }

  footer {
    position: absolute;
    bottom: 44px;
    padding: 0;
    margin: 0; } }
/*

.wrap {
	@media screen and (min-width: 768px) {

			margin-right: 340px;
	}

	@media screen and (min-height: 1000px) {
			margin-right: 400px;
	}

	@media screen and (min-height: 1000px) {
			margin-right: 500px;
	}
}


*/
