@import "bourbon";
@import "normalize";

$colorBlue : #52b5b6;
$buttonColor : rgb(0, 112, 179);

* {
	@include box-sizing(border-box);
}

h1, h2, h3, h4, p {
	margin: 0;
}

html {
	height: 100%;
	width: 100%;
	background: #fff;
	color: #000;
	font-size: 18px;
	font-family:'Museo W01 300';
}

html,
body {
	min-height: 100%;
	min-width: 100%;
	height: 100%;
}

p {
	margin-bottom: 1em;
}

.hidden-fields {
	display: none;
}

.wrap {
	padding: 15px;
	width: 100%;
	margin: 0;
}

.big-bg {
	opacity: .2;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	z-index: -1;

	img {
		min-height: 100%;
		min-width: 100%;
		height: auto;
		width: auto;
		float: left;
	}

}

header hgroup h1 {
	@include hide-text;
	background: url(../img/logo.png) no-repeat;
	width: 291px;
	height: 144px;
	background-size: contain;
	margin: 0 auto 20px auto;
	padding: 0;


	@media screen and (min-width: 768px) {
		margin: 0 auto 20px 0;
	}
}

.no-backgroundsize header hgroup h1 {
	background: url(../img/logo-half.png) no-repeat;
}

blockquote {
	margin: 0 0 20px 0;
	padding: 0;
	background: $colorBlue;
	padding: 4px;
	line-height: 24px;
	color: #fff;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;

	p {
		margin: 0;
	}

	br {
		display: none;
	}
}

.close-copy {
	display: none;
}

.contact {
	@include clearfix;
	margin: 2em 0 0 0;
	$height: 24px;

	.column {
		width: 100%;
		padding: 0;
		margin: 0;

		@media screen and (min-width: 1100px) {
			& {
			width: 25%;
			float: left;
			padding: 0 20px 0 0;

			&:last-child {
				padding: 0;
			}
		}
		}
	}



	input, textarea, button {
		-webkit-appearance: none;
		height: $height;
		line-height: $height;
		padding: 0 .5em;
		width: 100%;
		margin: 0 0 10px 0;
		background: #b4bab3;
		border-radius: 3px;
		border: none;
		@include box-shadow(0 2px 3px 0px rgba(0, 0, 0, 0.3) inset);
		color: #555;
		font-size: .9em;
	}

	textarea {
		height: 2 * $height;
	}

	#submit,
	#saveForm {
		background: $buttonColor;
		width: auto;
		padding: .25em 1em;
		color: #fff;
		font-family:'Museo W01 300';
		font-size: .75em;
		height: $height;

	}

	label {
		margin: 0 0 10px 0;
	}

}

.show-copy {
	display: none;
}

@media screen and (min-width: 480px) {
	html {
		background: $colorBlue;
	}

	.big-bg {
		opacity: 1;
	}
	article {
		margin: 100px 0 0 0;
	}

	.wrap {
		padding: 44px;
		width: auto;
		position: relative;
		height: 100%;
		max-width: 560px;
	}

	.big-bg {
		top: 0;
		bottom: 0;
		left: 0;
		right: 10%;

		img {
			min-height: 100%;
			min-width: 100%;
		}
	}

	.show-copy {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}

	.copy {
		@include hide-text;
		position: absolute;
	}

	.copy:target {
		
		top: 20%;
		left: 44px;
		right: 44px;
		font-family: helvetica nueue, helvetica, arial, sans-serif;
		color: #fff;
		background: #000;
		background: rgba(0,0,0,0.7);
		font-size: .75em;
		line-height: 1.6em;
		padding: 1.6em;
		-webkit-font-smoothing: antialiased;



		.inner {
			position: relative;

			@media screen and (min-width: 900px) {
				@include columns(2);
				@include column-gap(2em);
			}
		}

		p {
			margin-bottom: 1em;
		}

		.close-copy {
			display: block;
			color: #68696a;
			text-decoration: none;
			position: absolute;
			top: 0;
			right: 5px;
			line-height: 100%;
			font-size: 30px;
			font-weight: lighter;
		}

	}



	footer {
		padding: 2em 0;
		font-size: 0.75em;
	}
}

@media screen and (min-width: 840px) {
	.wrap {
		max-width: 1000px;
	}
	blockquote {
		font-size: 30px;
		line-height: 44px;
		background: none;
		padding: 0;
		margin: 0;

		br {
			display: block;
		}
		
		span {
			background: $colorBlue;
			padding: 4px;
		}

	}
}

@media screen and (min-height: 650px) and (min-width: 1100px) {
	blockquote {
		position: absolute;
		bottom: 244px;
		padding: 0;
		margin: 0;
	}
	aside {
		position: absolute;
		bottom: 104px;
		padding: 0;
		margin: 0;
	}
	footer {
		position: absolute;
		bottom: 44px;
		padding: 0;
		margin: 0;
	}
}



/*

.wrap {
	@media screen and (min-width: 768px) {

			margin-right: 340px;
	}

	@media screen and (min-height: 1000px) {
			margin-right: 400px;
	}

	@media screen and (min-height: 1000px) {
			margin-right: 500px;
	}
}


*/